.mainContainer{
	width: 30vw;
	padding: 10px;
	background: #fff;
	height: 100vh;
	overflow: scroll;
	box-shadow: 0 0 6px #0000001c;
	padding: 20px;
	transition:0.5s;
	z-index: 99999;
	box-sizing: border-box;


	@media only screen and (max-width:768px){
		width: 100vw;
		box-sizing: border-box;
		max-height: 78px !important;
	}

	.title{
		display:none;
	}

}

#closebutton:hover{
	cursor:pointer;
}

.warning{
	position: absolute;
	bottom: 0;
	background: #fffbc1;
	left: 0;
	padding: 20px;

	p,i,img,svg{
		color:#b3ab31;
		float:left;
	}

  img,svg{
    max-height: 18px;
    max-width: 6%;
  }

	p{
    max-width: 85%;
		margin-left: 10px;
	}
}

.searchInstance {
	border-bottom: solid 1px #ccc;
	padding: 10px;
	transition:0.2s;
	clear: both;
	overflow: auto;

	&:hover{
		cursor:pointer;
		background: #cccccc;
	}

	img{
		float: left;
		width: 15%;
		max-width:60px;
	}

	.searchInstanceParagraph {
		margin-left: auto;
		margin-right: auto;
		float: right;
		width: 80%;
	}
}

.searchInstanceParagraph {
	margin-left: auto;
	margin-right: auto;
}

.notShowingResults{
	max-height: 80px;
	overflow: hidden;

	& .warning{
		display:none;
	}

}

.showingResults{
	max-height: 100vh !important;
	overflow: scroll;
	//box-sizing: border-box;
}

.searchBox{
	display:flex;
	margin-bottom: 20px;


	input[type="text"]{
		outline: none;
		width: 90%;
		border: solid 1px #eee;
		border-radius: 5px;
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		font-size: 18px;
		padding: 8px;
		box-sizing: border-box;
		border-right:0;
		//margin-bottom: 20px;
		//margin-top: 20px;
	}

	.action{
		width:10%;
		border: solid 1px #eee;
		border-left:0;
		border-radius: 5px;
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		margin:0;
		font-size: 18px;
		line-height: 36px;
    padding: 10px;
    height: 18px;
	}
}

#error{
	display:none;
	width: 30vw;
	padding: 10px 20px;
	z-index: 99999;
	position: fixed;
	color: #cc8d7b;
	background: #fff;
	left: 0;
	font-family: calibri, verdana, arial;
	font-size: 12px;
	margin-top: -20px;
	box-sizing: border-box;


	@media only screen and (max-width:768px){
		z-index: 99999;
		position: fixed;
		color: #cc8d7b;
		background: #fff;
		width: 100vw;
		left: 0;
		padding: 10px;
	}
}
