body {
	margin: 0px;
}
p {
	font-family: calibri, verdana, arial;
}
.categoriesContainer {
	text-align:center;
	width: 100vw;
	height: 15vw;
}

.innerContainer {
	margin: auto;
}

.dropdownCategory {
	display: inline-block;
	width: 10vw;
	height: 10vw;
	max-height: 65px;
	max-width: 65px;
	min-height: 40px;
	min-width: 40px;
	vertical-align: middle;
}

.dropdownCategory:hover .subCategory {
	display: block;
}

.category {
	display: inline-block;
	width: 10vw;
	height: 10vw;
	max-height: 65px;
	max-width: 65px;
	min-height: 40px;
	min-width: 40px;
	vertical-align: middle;
	overflow: hidden;
}

.categoryImage {
	width: 100%;
	height: 100%;
}

.subCategory {
	display: none;
	
}

@media only screen and (min-width: 650px) {
	.categoriesContainer {
		width: 56vw;
		height: 6vw;
	}
	
	.category {
		width: 5vw;
		height: 5vw;
	}
	.dropdownCategory {
		width: 5vw;
		height: 5vw;
	}
}