@charset "UTF-8";
.mainContainer {
  width: 100vw;
  z-index: 9999;
  background: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.mainContainer.Anderes .titleParagraph {
  color: #6554b7;
}
.mainContainer.Anderes .fas,
.mainContainer.Anderes svg {
  color: #6554b7;
}
.mainContainer.Anderes .button {
  background: #6554b7;
}

.mainContainer.Essen .titleParagraph {
  color: #7fcc86;
}
.mainContainer.Essen .fas,
.mainContainer.Essen svg {
  color: #7fcc86;
}
.mainContainer.Essen .button {
  background: #7fcc86;
}

.mainContainer.Geschäfte .titleParagraph {
  color: #e37454;
}
.mainContainer.Geschäfte .fas,
.mainContainer.Geschäfte svg {
  color: #e37454;
}
.mainContainer.Geschäfte .button {
  background: #e37454;
}

.mainContainer.Kultur .titleParagraph {
  color: #fb8464;
}
.mainContainer.Kultur .fas,
.mainContainer.Kultur svg {
  color: #fb8464;
}
.mainContainer.Kultur .button {
  background: #fb8464;
}

.mainContainer.Verkehr .titleParagraph {
  color: #846cec;
}
.mainContainer.Verkehr .fas,
.mainContainer.Verkehr svg {
  color: #846cec;
}
.mainContainer.Verkehr .button {
  background: #846cec;
}

.mainContainer.Sommer .titleParagraph {
  color: #3ddcd4;
}
.mainContainer.Sommer .fas,
.mainContainer.Sommer svg {
  color: #3ddcd4;
}
.mainContainer.Sommer .button {
  background: #3ddcd4;
}

.mainContainer.Wellness .titleParagraph {
  color: #e9e28c;
}
.mainContainer.Wellness .fas,
.mainContainer.Wellness svg {
  color: #e9e28c;
}
.mainContainer.Wellness .button {
  background: #e9e28c;
}

.mainContainer.Winter .titleParagraph {
  color: #3d8cc4;
}
.mainContainer.Winter .fas,
.mainContainer.Winter svg {
  color: #3d8cc4;
}
.mainContainer.Winter .button {
  background: #3d8cc4;
}

#closebutton {
  float: right;
}

.title {
  clear: both;
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #aaa;
}

.titleDiv {
  flex: 1;
  text-align: center;
}

.resultContainer {
  /*height: calc(100%-titleDivHeight) ???*/
  width: 100%;
  overflow-y: hidden;
  font-size: 14px;
  color: #70757a;
}

.infoTitle {
  box-shadow: 0 4px 6px -2px #0000002b;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
}
.infoTitle .fas,
.infoTitle svg {
  float: left;
  height: 18px;
  margin-right: 10px;
}
.infoTitle .infoTitleParagraph {
  width: calc(100% - 80px);
  float: left;
}

.fas,
svg {
  float: left;
  height: 18px;
  margin-right: 10px;
}

.info {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.image {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#directions {
  margin-top: 10px;
}

.titleArrowDiv {
  display: none;
}

[class$="Label"] {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 30vw;
    height: 100vh;
    overflow: auto;
    background: #fff;
    box-shadow: 0 0 6px #0000001c;
    padding: 20px;
  }

  .itemInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .info {
    padding: 20px;
    width: calc(100% - 40px);
  }

  .image {
    width: 26vw;
  }
}
