@charset "UTF-8";
.mainContainer {
  width: 100vw;
  z-index: 9999;
  background: white;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto; }

.mainContainer.Anderes .titleParagraph {
  color: #6554B7; }
.mainContainer.Anderes .fas, .mainContainer.Anderes svg {
  color: #6554B7; }
.mainContainer.Anderes .button {
  background: #6554B7; }

.mainContainer.Essen .titleParagraph {
  color: #7fCC86; }
.mainContainer.Essen .fas, .mainContainer.Essen svg {
  color: #7fCC86; }
.mainContainer.Essen .button {
  background: #7fCC86; }

.mainContainer.Geschäfte .titleParagraph {
  color: #E37454; }
.mainContainer.Geschäfte .fas, .mainContainer.Geschäfte svg {
  color: #E37454; }
.mainContainer.Geschäfte .button {
  background: #E37454; }

.mainContainer.Kultur .titleParagraph {
  color: #FB8464; }
.mainContainer.Kultur .fas, .mainContainer.Kultur svg {
  color: #FB8464; }
.mainContainer.Kultur .button {
  background: #FB8464; }

.mainContainer.Verkehr .titleParagraph {
  color: #846CEC; }
.mainContainer.Verkehr .fas, .mainContainer.Verkehr svg {
  color: #846CEC; }
.mainContainer.Verkehr .button {
  background: #846CEC; }

.mainContainer.Sommer .titleParagraph {
  color: #3DDCD4; }
.mainContainer.Sommer .fas, .mainContainer.Sommer svg {
  color: #3DDCD4; }
.mainContainer.Sommer .button {
  background: #3DDCD4; }

.mainContainer.Wellness .titleParagraph {
  color: #E9E28C; }
.mainContainer.Wellness .fas, .mainContainer.Wellness svg {
  color: #E9E28C; }
.mainContainer.Wellness .button {
  background: #E9E28C; }

.mainContainer.Winter .titleParagraph {
  color: #3D8CC4; }
.mainContainer.Winter .fas, .mainContainer.Winter svg {
  color: #3D8CC4; }
.mainContainer.Winter .button {
  background: #3D8CC4; }

#closebutton {
  float: right; }

.title {
  clear: both;
  display: flex;
  padding: 20px;
  border-bottom: solid 1px #aaa; }

.titleDiv {
  flex: 1;
  text-align: center; }

.resultContainer {
  /*height: calc(100%-titleDivHeight) ???*/
  width: 100%;
  overflow-y: scroll;
  font-size: 14px;
  color: #70757A; }

.infoTitle {
  box-shadow: 0 4px 6px -2px #0000002b;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto; }
  .infoTitle .fas, .infoTitle svg {
    float: left;
    height: 18px;
    margin-right: 10px; }
  .infoTitle .infoTitleParagraph {
    width: calc(100% - 80px);
    float: left; }

.fas, svg {
  float: left;
  height: 18px;
  margin-right: 10px; }

.info {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }

.image {
  width: 90vw;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#directions {
  margin-top: 10px; }

.titleArrowDiv {
  display: none; }

[class$="Label"] {
  font-weight: 600; }

@media only screen and (min-width: 768px) {
  .mainContainer {
    width: 30vw;
    height: 100vh;
    overflow: auto;
    background: #fff;
    box-shadow: 0 0 6px #0000001c;
    padding: 20px; }

  .itemInfo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }

  .info {
    padding: 20px;
    width: calc(100% - 40px); }

  .image {
    width: 26vw; } }
.mainContainer {
  width: 30vw;
  padding: 10px;
  background: #fff;
  height: 100vh;
  overflow: scroll;
  box-shadow: 0 0 6px #0000001c;
  padding: 20px;
  transition: 0.5s;
  z-index: 99999;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .mainContainer {
      width: 100vw;
      box-sizing: border-box;
      max-height: 78px !important; } }
  .mainContainer .title {
    display: none; }

#closebutton:hover {
  cursor: pointer; }

.warning {
  position: absolute;
  bottom: 0;
  background: #fffbc1;
  left: 0;
  padding: 20px; }
  .warning p, .warning i, .warning img, .warning svg {
    color: #b3ab31;
    float: left; }
  .warning img, .warning svg {
    max-height: 18px;
    max-width: 6%; }
  .warning p {
    max-width: 85%;
    margin-left: 10px; }

.searchInstance {
  border-bottom: solid 1px #ccc;
  padding: 10px;
  transition: 0.2s;
  clear: both;
  overflow: auto; }
  .searchInstance:hover {
    cursor: pointer;
    background: #cccccc; }
  .searchInstance img {
    float: left;
    width: 15%;
    max-width: 60px; }
  .searchInstance .searchInstanceParagraph {
    margin-left: auto;
    margin-right: auto;
    float: right;
    width: 80%; }

.searchInstanceParagraph {
  margin-left: auto;
  margin-right: auto; }

.notShowingResults {
  max-height: 80px;
  overflow: hidden; }
  .notShowingResults .warning {
    display: none; }

.showingResults {
  max-height: 100vh !important;
  overflow: scroll; }

.searchBox {
  display: flex;
  margin-bottom: 20px; }
  .searchBox input[type="text"] {
    outline: none;
    width: 90%;
    border: solid 1px #eee;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 18px;
    padding: 8px;
    box-sizing: border-box;
    border-right: 0; }
  .searchBox .action {
    width: 10%;
    border: solid 1px #eee;
    border-left: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    font-size: 18px;
    line-height: 36px;
    padding: 10px;
    height: 18px; }

#error {
  display: none;
  width: 30vw;
  padding: 10px 20px;
  z-index: 99999;
  position: fixed;
  color: #cc8d7b;
  background: #fff;
  left: 0;
  font-family: calibri, verdana, arial;
  font-size: 12px;
  margin-top: -20px;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    #error {
      z-index: 99999;
      position: fixed;
      color: #cc8d7b;
      background: #fff;
      width: 100vw;
      left: 0;
      padding: 10px; } }

#mapid {
  height: 100%; }

.categoriesContainer {
  text-align: center;
  width: auto !important; }
  @media screen and (max-width: 768px) {
    .categoriesContainer {
      background: white;
      padding: 10px; } }

.dropdownCategory {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  max-height: 65px;
  max-width: 65px;
  min-height: 35px;
  min-width: 35px;
  text-align: left;
  position: relative; }
  .dropdownCategory.selected .category::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #dc5d3a;
    position: absolute;
    z-index: 99999999999999999999;
    bottom: 5px;
    right: 5px; }
    @media screen and (max-width: 768px) {
      .dropdownCategory.selected .category::before {
        width: 10px;
        height: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        bottom: 2px;
        right: 2px; } }

.dropdownCategory:hover .subCategory {
  display: block; }

.category {
  display: inline-block;
  width: 10vw;
  height: 10vw;
  max-height: 65px;
  max-width: 65px;
  min-height: 35px;
  min-width: 35px;
  overflow: hidden; }

.categoryImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; }

.subCategory {
  padding: 20px;
  text-align: left;
  display: none;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  white-space: nowrap;
  width: auto;
  z-index: 1; }
  @media only screen and (max-width: 768px) {
    .subCategory {
      position: fixed;
      right: 10vw;
      left: 10vw;
      bottom: 20vh; } }
  .subCategory::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 10px 8px 1px;
    border-color: transparent transparent #ccc transparent;
    top: -8px; }
    @media only screen and (max-width: 1024px) {
      .subCategory::before {
        content: none; } }
  .subCategory::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 9px 7px 0;
    border-color: transparent transparent #fff transparent;
    top: -7px; }
    @media only screen and (max-width: 768px) {
      .subCategory::after {
        content: none; } }

.subcategory:hover {
  display: block; }

.subCategoryLeft {
  left: 10px; }

.subCategoryLeft::before {
  left: 15px; }

.subCategoryLeft::after {
  left: 16px; }

.subCategoryRight {
  right: 0px; }

.subCategoryRight::before {
  right: 15px; }

.subCategoryRight::after {
  right: 16px; }

.subCategoryTitleAnderes {
  color: #6554B7; }

.subCategoryTitleEssen {
  color: #7fCC86; }

.subCategoryTitleGeschäfte {
  color: #E37454; }

.subCategoryTitleKultur {
  color: #FB8464; }

.subCategoryTitleVerkehr {
  color: #846CEC; }

.subCategoryTitleSommer {
  color: #3DDCD4; }

.subCategoryTitleWellness {
  color: #E9E28C; }

.subCategoryTitleWinter {
  color: #3D8CC4; }

.subCategoryItem {
  margin-top: 10px; }

@media only screen and (min-width: 768px) {
  .categoriesContainer {
    width: fit-content;
    height: fit-content;
    top: 20px;
    position: relative;
    z-index: 9999; }

  .dropdownCategory {
    width: 5vw;
    height: 5vw; }

  .category {
    width: 5vw;
    height: 5vw; } }

/*# sourceMappingURL=components.css.map */
